<article class=" box box--timeline">
  <div class="news__header">
<!--     <img class="header__profile" src="{{post.avatar}}{{urlConection}}" http://192.168.1.55 alt=""> -->   
<img class="header__profile" src="{{post.avatar}}" alt="">
   <span class="header__name">{{post.userName}}</span>    
    <span class="header__date">{{post.date}}</span>
    <span class="header__id">{{post.userId}}</span>
  </div>
  <!-- <div class="news__header news__header--info">

  </div> -->
  <div class="news__main">

    <div class="news__container">
      <div class="news__img">
        <img *ngIf="post.file" src="http://{{urlConection}}{{post.file}}" alt="">
      </div>
      <div class="news__info">
      <p >{{post.text}}</p>
      <div class="news__buttons">
        <button type="button" class="news__like" (click)="addLike()"> <span class="like__counter">{{post.likes}}</span> </button>
       <!--  <button type="button" class="news__reply news__reply--1"></button> -->
      </div>
    </div>
    </div>
  </div>
</article>





