@import '../../../assets/styles/rem';
@import '../../../assets/styles/variables';
@import '../../../assets/styles/input'; //input & invalid input
@import '../../../assets/styles/btn'; // btn & :after & :before

.empty{
    height: rem(50px);
}


/********************************************
GLOBAL
*********************************************/
.box {
  padding: rem(20px);
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

legend {
  display: none;
}

/********************************************
FORM .form__input & btn import from button.scss
*********************************************/
.form {
  width: 100%;

  .form__label {
    color: var(--color-dirty);
    font-weight: var(--tx-normal);
    font-size: var(--ts-l);
    position: relative;
  }

  .form__input *{
    padding-bottom: 0;
  }
  .form__input--faceId{
    position: absolute;
    width: 90%;
    left: rem(20px);
    padding-left: rem(65px);    
  }

  .input__eyeIcon{
    position: absolute;
    right: rem(40px);
    display: inline-block;
    height: 30px;
    width: 30px;
    svg{
      height: 40px;
      width: 40px;
      fill: var(--color-dark);   
      color:  var(--color-dirty); 
    }
  }

}

/******** Join button Container ***************/
.button-container {
  display: flex;
  justify-content: space-around;
}

.input{
  height: rem(50px);
  width: rem(50px); 

  &__file {
    position: absolute;
    left: 0;  
    height: rem(50px);
    width: rem(70px);
    opacity: 0;
    z-index: 10;
  }

  &__custom{ 
    svg{
      height: rem(40px);
    width: rem(40px);
    margin-top: rem(10px);
      fill: var(--color-dirty);
    }
  }
}

