@import '../../../assets/styles/rem';
@import '../../../assets/styles/variables';
@import '../../../assets/styles/input'; //input & invalid input
@import '../../../assets/styles/btn'; // btn & :after & :before

/********************************************
GLOBAL
*********************************************/
.box {
  padding: rem(20px);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.title {
  font-family: var(--ff-logo);
  font-size: var(--ts-logo);
  color: var(--color-cream);
  font-weight: var(--tx-thin);
}

/********************************************
FORM .form__input & btn import from styles
*********************************************/
.form {
  width: 100%;
}

.form__label {
  color: var(--color-dirty);
  font-weight: var(--tx-normal);
  font-size: var(--ts-l);
}

.invalid {
  border-bottom: 2px solid var(--color-error);
}

legend {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
}
