@import '../../../assets/styles/rem';
@import '../../../assets/styles/variables';



.message {
  margin: rem(0 15px 10px 15px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.message__avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 1px 1px 3px rgba(245, 245, 245, 0.911);
}

.message__balloon {
  width: 80%;
  margin-left: rem(10px);
  padding: rem(10px);
  background-color: var(--color-cream);
  border-radius: rem(20px);
  border-bottom-left-radius: rem(0px);
  box-shadow: 3px 3px 1px rgb(8, 8, 8);
}

.message__date{
    text-align: right;
    font-size: rem(12px);
    color: var(--color-dark);
    padding-top: rem(12px);
}

.sender{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transform: scale(-1, 1);

  & p{
    transform: scale(-1, 1); 
  }
  .message__avatar {
  
    box-shadow: -1px 1px 3px rgba(245, 245, 245, 0.911);
  }
  
}

.receiver{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}

.empty {
  height: rem(60px);
  background: var(--color-dark);
}