<div class="box">

  <h2 class="title">Proyecto Z</h2>

  <form class="form" [formGroup]="myForm">

    <div>
      <label class="form__label" for="email"> Email * </label>
      <input [ngClass]="{ 'invalid': invalid }" matInput class="form__input" formControlName="email" type="text" id="email" placeholder="admin@admin.com">
    </div>

    <div>
      <label class="form__label" for="pass"> Password * </label>
      <input [ngClass]="{ 'invalid': invalid }" matInput matInput class="form__input" formControlName="pass" type="password" id="pass" placeholder="123456">
    </div>

    <div class="button-container">
      <button class="btn" (click)="submit($event, myForm)" type="button">Verify</button>
    </div>

  </form>

</div>

