@import '../../../assets/styles/rem';
@import '../../../assets/styles/variables';

.btn {
  outline: none;
  background-color: rgba(216, 216, 216, 0.205);
  border: 1px solid rgb(158, 158, 158);
  width: 150px;
  height: 50px;
  position: relative;
  margin: rem(20px 0);
  color: var(--color-cream);
  -webkit-tap-highlight-color: rgba(165, 131, 103, 0.301);

  &::after,
  &::before {
    content: '';
    position: absolute;
    outline: none;
    background-color: rgba(216, 216, 216, 0.205);
    border: 1px solid rgb(158, 158, 158);
  }

  &::before {
    width: 120px;
    height: 70px;
    bottom: -10px;
    left: 15px;
  }

  &::after {
    width: 139px;
    height: 60px;
    bottom: -6px;
    left: 5px;
  }
}

.btn--logout,
.btn--saveChanges {
  background-color: rgba(255, 66, 66, 0.582);
  border: 1px solid rgba(126, 42, 42, 0);
  min-width: rem(100px);
  height: 50px;
  margin: rem(30px 20px 0 20px);


  &::after,
  &::before {
    background-color: rgba(216, 216, 216, 0);
    border: 1px solid rgba(255, 0, 0, 0.719);
  }

  &::before {
    width: rem(139px);
    height: 62px;
    bottom: -5px;
    left: -4px;
  }

  &::after {
    width: rem(139px);
    height: 62px;
    top: -5px;
    left: -8px;
    border: 1px solid rgba(255, 0, 0, 0.719);
  }
}


.btn--saveChanges {
  background-color: rgba(94, 253, 116, 0.397);

  &::after,
  &::before {
    background-color: rgba(216, 216, 216, 0);
    border: 1px solid rgba(82, 253, 105, 0.658);
  }

}
